.splide__slide img {
  width: 100%;
  height: 60vh;
}

.main-categories{
  display: flex;
  padding: 8vh;
}

.categories-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 20px;
}

@media (max-width: 768px) {
  .categories-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-categories img{
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}


.main-categories h1{
  font-family: inter sans-serif;
  font-weight: 700;
  size: 11px;
}

.cat-icons{
  margin-left: 135vh;
}

.categories-section {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding: 40px;
}

.view{
    padding: 0vh;
    width: 35vh; 
    color: #4d8c8d;
    font-size: 3vh;
    height: 7vh;
    margin-top: -2vh;
    margin-left: 96vh;
}

.view:hover{
  color: white;
  background-color: #4d8c8d;
}



/* Best Category  */


.best-category img{
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}

.best-category{
  display: flex;
  padding: 8vh;
}

.best-para{
  margin-top: -8vh;
  margin-left: 8vh;
}

.sellerCard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  margin-top: 20px;
}

.view-btn1{
  margin-top: 5vh;
  height: 8vh;
}

.view{
  padding: 2vh;
  height: 12vh;
}

/* Banner css */
.banner {
  position: relative;
  width: 100%;
  margin-top: 8vh;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-content {
  position: absolute;
  top: 50%; 
  left: 20%; 
  transform: translate(-50%, -50%); /* perfect centering */
  color: white;
  text-align: left;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.banner-content button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.banner-content button:hover {
  background-color: #4d8c8d;
  color: white;
}


/* Lasting Memory */


.last-memory{
  background-color: #f3f8f7;
  padding: 12vh;
}

.first-memory{
  display: flex;
}

.first-memory span{
  font-weight: 600;
  font-size: 30px;
  font-family: serif display;
  line-height: 5%;
}
.first-memory p{
  padding: 10vh;
  margin-top: 32vh;
  line-height: 205%;
}

.first-memory img{
  height: 650px;
  width: 563px;
}

.second-memory{
  display: flex;
  margin-top: -12vh
}

.second-memory span{
  font-weight: 600;
  font-size: 30px;
  font-family: serif display;
  line-height: 5%;
}
.second-memory p{
  padding: 10vh;
  margin-top: 32vh;
  line-height: 205%;
}

.second-memory img{
  height: 650px;
  width: 563px;
  margin-top: 12vh;
}

.view {
  margin-top: -40px; /* p ke niche thoda gap */
  padding: 10px 20px;
  border: 1px solid #4a6765;
  background: transparent;
  cursor: pointer;
  margin-left: 10vh;
}

