.splide__slide img {
  width: 100%;
  height: 60vh;
}

.main-categories{
  display: flex;
  padding: 8vh;
}

.categories-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 20px;
}

@media (max-width: 768px) {
  .categories-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-categories img{
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}


.main-categories h1{
  font-family: inter sans-serif;
  font-weight: 700;
  size: 11px;
}

.cat-icons{
  margin-left: 135vh;
}

.categories-section {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding: 40px;
}

.view{
    padding: 0vh;
    width: 35vh; 
    color: #4d8c8d;
    font-size: 3vh;
    height: 7vh;
    margin-top: -2vh;
    margin-left: 96vh;
}

.view:hover{
  color: white;
  background-color: #4d8c8d;
}



/* Best Category  */


.best-category img{
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}

.best-category{
  display: flex;
  padding: 8vh;
}

.best-para{
  margin-top: -8vh;
  margin-left: 8vh;
}

.sellerCard{
  display: flex;
  padding: 8vh;
}

