.category-product-card {
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.category-product-card:hover {
  background-color: #f8f8f8;
}

/* Best Seller badge */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gold;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.product-image {
  width: 48vh;
  height: 48vh;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.category-product-card:hover .product-image img {
  transform: scale(1.05);
}

.product-title {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 500;
  align-items: center;
  text-align: center;
}

.product-prices {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.old-price {
  color: #888;
  text-decoration: line-through;
  font-size: 14px;
}

.new-price {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* Rating stars */
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.rating span {
  color: gold;
  font-size: 14px;
}

.rating .rating-number {
  color: #555;
  font-size: 13px;
}

.product-rating {
  margin-top: 5px;
  font-size: 14px;
  color: #ffa500; /* Golden star color */
  font-weight: 500;
}