/* .category-card {
  display: flex;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 4vh;
}*/

.category-card{
    margin-top: -2vh;
    margin-right: -2vh;
}

.category-card img {
  width: 60vh;
  height: 60vh;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: translateY(-5px);
  margin-left: 5vh;
}

.category-card img:hover{
    transition: transform 0.3s ease;
}

.category-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 5vh;
}
